<!-- Reference: https://developer.apple.com/documentation/apple_pay_on_the_web/displaying_apple_pay_buttons -->
<button type="submit" class="apple-pay-button-with-text apple-pay-button-black-with-text">
    <span class="text">{{ translate({ ident: "OSCUNZER_BUY_WITH" }) }}</span><span class="logo"></span>
</button>
